{% extends 'base.html' %} {%block contend%}
<form id="new_item" action="/film" method="post">
  <div>
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" />
  </div>
  <div>
    <label for="genre">Genre: </label>
    <input type="text" id="genre" name="genre" />
  </div>
  <div>
    <label for="director">Select director: </label>
    <select name="director" id="director">
      {% for director in directors %}
      <option value="{{ director.id }}">{{ director.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="distributor">Select distributor: </label>
    <select name="distributor" id="distributor">
      {% for distributor in distributors %}
      <option value="{{ distributor.id }}">{{ distributor.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" required autofocus />
  </div>
  <div>
    <label for="buying_price">Buying Price</label>
    <input
      type="number"
      id="buying_price"
      name="buying_price"
      required
      autofocus
    />
  </div>
  <div>
    <label for="selling_price">Selling Price</label>
    <input
      type="number"
      id="selling_price"
      name="selling_price"
      required
      autofocus
    />
  </div>
  <div>
    <input class="button" type="submit" value="add item" />
  </div>
</form>
{%endblock%}
