<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>DVD Shop</header>
    <nav>
      <a href="/">Home</a>
      <a href="/films">View stock</a>
      <a href="/film">Add item</a>
      <a href="/distributors">Add distributor</a>
      <a href="/directors">Add director</a>
    </nav>
    {%block contend%} {%endblock%}
    <footer>Footer</footer>
  </body>
</html>
