{% extends 'base.html' %} {%block contend%}

<form id="add_distributor" action="/distributors" method="post">
  <div>
    <label for="distributor">Name: </label>
    <input type="text" id="distributor" name="distributor" />
  </div>
  <input class="button" type="submit" value="add distributor" />
</form>
<table class="add_table">
  <tr>
    <th>DISTRIBUTORS</th>
    {%for distributor in distributors%}
  </tr>
  <tr>
    <td>{{distributor.name}}</td>
    {%endfor%}
  </tr>
</table>

{%endblock%}
