{% extends 'base.html' %} {%block content%}
<form id="new_director" action="/directors" method="post">
  <div>
    <label for="director">Name: </label>
    <input type="text" id="director" name="director" />
  </div>
  <input class="button" type="submit" value="add director" />
</form>
<table class="add_table">
  <tr>
    <th>DIRECTORS</th>
    <th></th>
    {%for director in directors%}
  </tr>
  <tr>
    <td>{{director.name}}</td>
    <td style="width: 10%">
      <form action="/directors/{{ director.id }}/delete" method="post">
        <input class="stock_btn" type="submit" value="delete" />
      </form>
    </td>
    {%endfor%}
  </tr>
</table>

{%endblock%}
