{% extends 'base.html' %} {%block contend%}
<div>
  <form class="filter" action="/films/filter1" method="post">
  <label for="director">Filter by director: </label>
  <select name="director" id="director">
    {% for director in directors %}
    <option value="{{ director.id }}">{{ director.name }}</option>
    {% endfor %}
  </select>
  <input type="submit">
</form>
</div>
<div>
  <form class="filter" action="/films/filter2" method="post">
  <label for="distributor">Filter by distributor: </label>
  <select name="distributor" id="distributor">
  {%for distributor in distributors%}
  <option value="{{distributor.id}}">{{distributor.name}}</option>
  {%endfor%}
  </select>
  <input type="submit">
  </form>
</div>
<div>
  <form class="filter" action="/films/filter3" method="post">
  <label for="genre">Filter by genre: </label>
  <select name="genre" id="genre">
    {%for genre in genres%}
  <option value="{{genre}}">{{genre}}</option>
  {%endfor%}
  </select>
  <input type="submit">
  </form>
</div>
<br>
<table class="stock_table">
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Director</th>
    <th>Distributor</th>
    <th>Stock Quantity</th>
    <th>Buying Price</th>
    <th>Selling Price</th>
    <th>Profit</th>
  </tr>
  {%for film in films%}
  <tr>
    <td>{{film.title}}{%if film.stock_quantity == 0 %} &#10060; {%elif
      film.stock_quantity > 0 and film.stock_quantity < 5 %} &#9888;&#65039;
      {%else%}  {%endif%}</td>
    <td>{{film.genre}}</td>
    <td>{{film.director.name}}</td>
    <td>{{film.distributor.name}}</td>
    <td>
      {{film.stock_quantity}}
    </td>
    <td>{{film.buying_price}}</td>
    <td>{{film.selling_price}}</td>
    <td>{{film.profit}}</td>
    <td>
      <form action="/films/{{ film.id }}/delete" method="post">
        <input type="submit" value="delete" />
      </form>
    </td>
    <td>
      
      <a href="/films/{{film.id}}/edit"> <input type="submit" value="edit" name="edit" id="edit"/></a>  
      </form>
    </td>

    </td>
  </tr>
  {%endfor%}
</table>
{%endblock%}
