{% extends 'base.html' %} {%block contend%}

<table>
  <tr>
    <th>Title</th>
    <th>Director</th>
    <th>Distributor</th>
    <th>Stock Quantity</th>
    <th>Buying Price</th>
    <th>Selling Price</th>
    <th>Profit</th>
  </tr>
  {%for film in films%}
  <tr>
    <td>
      {%if film.stock_quantity == 0 %} &#10060; {%elif
      film.stock_quantity > 0 and film.stock_quantity < 5 %} &#9888;&#65039;
      {%else%}  {%endif%}
    </td>
    <td>{{film.title}}</td>
    <td>{{film.director.name}}</td>
    <td>{{film.distributor.name}}</td>
    <td>
      {{film.stock_quantity}}
    </td>
    <td>{{film.buying_price}}</td>
    <td>{{film.selling_price}}</td>
    <td>{{film.profit}}</td>
    <td>
      <form action="/films/{{ film.id }}/delete" method="post">
        <input type="submit" value="delete" />
      </form>
    </td>
    <td>
      
      <a href="/films/{{film.id}}/edit"> <input type="submit" value="edit" name="edit" id="edit"/></a>  
      </form>
    </td>

    </td>
  </tr>
  {%endfor%}
</table>
{%endblock%}
