{% extends 'base.html' %} {%block contend%}
<div>
  <form class="filter" action="/films/filter" method="get">
    <input type="hidden" name="form_type" value="filter_by_director" />
    <label for="director">Films by director: </label>
    <select name="director" id="director">
      {% for director in directors %}
      <option value="{{ director.id }}">{{ director.name }}</option>
      {% endfor %}
    </select>
    <input class="filter_btn" type="submit" value="filter" />
  </form>
</div>
<div>
  <form class="filter" action="/films/filter" method="get">
    <input type="hidden" name="form_type" value="filter_by_distributor"
    <label for="distributor">Films by distributor: </label>
    <select name="distributor" id="distributor">
      {%for distributor in distributors%}
      <option value="{{distributor.id}}">{{distributor.name}}</option>
      {%endfor%}
    </select>
    <input class="filter_btn" type="submit" value="filter" />
  </form>
</div>
<div>
  <form class="filter" action="/films/filter" method="get">
    <input type="hidden" name="form_type" value="filter_by_genre">
    <label for="genre">Films by genre: </label>
    <select name="genre" id="genre">
      {%for genre in genres%}
      <option value="{{genre}}">{{genre}}</option>
      {%endfor%}
    </select>
    <input class="filter_btn" type="submit" value="filter" />
  </form>
</div>
<br />
<table class="stock_table">
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Director</th>
    <th>Distributor</th>
    <th>Stock Quantity</th>
    <th>Buying Price</th>
    <th>Selling Price</th>
    <th>Profit</th>
  </tr>
  {%for film in films%}
  <tr>
    <td>
      {{film.title}}{%if film.stock_quantity == 0 %} &#10060; {%elif
      film.stock_quantity > 0 and film.stock_quantity < 5 %} &#9888;&#65039;
      {%else%} {%endif%}
    </td>
    <td>{{film.genre}}</td>
    <td>{{film.director.name}}</td>
    <td>{{film.distributor.name}}</td>
    <td>{{film.stock_quantity}}</td>
    <td>{{film.buying_price}}</td>
    <td>{{film.selling_price}}</td>
    <td>{{film.profit}}</td>
    <td>
      <a href="/films/{{film.id}}/edit">
        <input
          class="stock_btn"
          type="submit"
          value="edit"
          name="edit"
          id="edit"
      /></a>
    </td>
    <td>
      <form action="/films/{{ film.id }}/delete" method="post">
        <input class="stock_btn" type="submit" value="delete" />
      </form>
    </td>
  </tr>
  {%endfor%}
</table>
{%endblock%}
